.div-imported-2 {
  background: url(W:/projects/git/JBZoo-Less/public_html/tests/1x1.gif);
}
.div-imported-2:hover {
  background: #ff0000;
}
.div-imported-2 p {
  background: url('../butterfly.jpg');
}
.div-imported-1-1 {
  background: url('some-image.jpg');
}
.div-imported-1-2 {
  background: url('../some-image.jpg');
}
.div-imported-1-3 {
  background: url('../some-image.jpg');
}
.div-imported-3 {
  background: url(W:/projects/git/JBZoo-Less/public_html/tests/1x1.gif);
}
.div-imported-3:hover {
  background: #ff0000;
}
a:hover {
  color: #ff0000;
}
a:visited {
  color: #00ff00;
}
a:focus {
  color: #0000ff;
}